<% wrap_layout :layout do %>
  <header>
    <svg class="logo" version="1.0" xmlns="http://www.w3.org/2000/svg" width="5em" height="5em" viewBox="0 0 100 100">
      <circle cx="50%" cy="50%" r="50" fill="#67AAF7" />
    </svg>
    <h1>Daniel Fone</h1>
    <p class="description">Ruby/Rails Engineer</p>
  </header>

  <nav>
    <div class="links">
      <%= nav_link_to 'About Me', '/' %> &middot;
      <%= nav_link_to 'Articles', '/blog/archives/' %> &middot;
      <%= nav_link_to 'Contact', '/hire/' %>
    </div>
  </nav>

  <main><%= yield %></main>

  <footer>
    <p>
      Written 2013&ndash;<%= Date.today.year %> by Daniel Fone
      &middot;
      Powered by
      <%= link_to 'Middleman', 'http://middlemanapp.com/' %>
      and
      <%= link_to 'GitHub Pages', 'http://pages.github.com/' %>
    </p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
<% end %>
