<% wrap_layout :layout do %>
  <header>
    <%= image_tag 'blue-dot.png', width: 100, style: 'float: left; margin-right: 1em' %>
    <h1><a href="/">Daniel Fone</a></h1>
    <p class="lead">Ruby on Rails Engineer</p>
  </header>

  <div class="row">
    <div class="col-md-9">
      <%= yield %>
    </div>
    <div class="col-md-3">
      <aside>
        <%= image_tag '//www.gravatar.com/avatar/5efc2a040a61cb22107bcfcecd58454c.jpg?s=300', width: 80, class: 'img-thumbnail', style: 'float: right' %>
        <h4>About Me</h4>
        <p>
          I'm a freelance Ruby&nbsp;on&nbsp;Rails engineer,
          based in Christchurch, New&nbsp;Zealand.<br>
        </p>
        <p>
          <a href="/hire" class="button primary">Hire me</a>
        </p>
        <p>
          <a href="/blog/archives" class="button">Posts</a>
        </p>
        <p>
          <%= link_to 'Github', 'https://github.com/danielfone', class: 'button' %>
        </p>
        <p>
          <%= link_to 'Twitter', 'https://twitter.com/danielfone', class: 'button' %>
        </p>
      </aside>
    </div>
  </div>
<% end %>
