<% wrap_layout :layout do %>
  <header>
    <%= image_tag 'blue-dot.png', style: 'float: left; margin-right: 1em; width: 5em' %>
    <h1><a href="/">Daniel Fone</a></h1>
    <p class="lead">Ruby/Rails Engineer</p>
  </header>

  <div class="row">
    <div class="col-md-9">
      <%= yield %>
    </div>
    <div class="col-md-3">
      <aside>
        <%= image_tag '//www.gravatar.com/avatar/5efc2a040a61cb22107bcfcecd58454c.jpg?s=300', width: 70, class: 'img-thumbnail', style: 'float: right' %>
        <h4>About Me</h4>
        <p>
          I'm a Ruby/Rails engineer, based in Christchurch, New&nbsp;Zealand.
          I'm available for freelancing, consulting and remote contracting.
        </p>
        <p>
          Follow me on <%= link_to 'Twitter', 'https://twitter.com/danielfone' %>.
        </p>
        <p>
          <a href="/hire" class="button primary">Hire me</a>
        </p>
      </aside>

      <aside>
        <h4>Featured Posts</h4>
        <% featured_articles.each do |article| %>
          <a href="<%= article.url %>">
            <h5><%= article.title %></h5>
          </a>
          <blockquote>
            <%= article.data[:summary] %>
          </blockquote>
        <% end %>

        <small>
          <p><%= link_to 'More posts', '/blog/archives/' %></p>
        </small>
      </aside>
    </div>
  </div>
<% end %>
