<% wrap_layout :page do %>
  <article>
    <h2>
      <%= current_article.title %>
    </h2>
    <p>
      <small class="text-muted">
        <%- if current_article.data[:updated] -%>
          Updated <%= format_date current_article.data[:updated] %>
          —
          Originally written
        <%- end -%>
        <%= format_date current_article.date %>
      </small>
    </p>

    <%- if current_article.data[:summary] -%>
      <div class="well">
        <strong>tl;dr</strong> <%= current_article.data[:summary] %>
      </div>
    <%- end -%>

    <%= yield %>
  </article>

  <%= partial 'blog/disqus' if comments_enabled? %>
<% end %>
