<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Daniel Fone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.png" rel="icon">
    <!-- Bootstrap -->
    <%= stylesheet_link_tag 'application' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <%= partial 'analytics' %>
  </head>
  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">Home</a>
          <a class="blog-nav-item" href="/blog/archives">Posts</a>
          <a class="blog-nav-item" href="/hire">Hire Me</a>
          <%= link_to 'Code', 'https://github.com/danielfone', class: 'blog-nav-item external' %>
          <%# link_to 'Talks', 'https://speakerdeck.com/danielfone', class: 'blog-nav-item external' %>
        </nav>
      </div>
    </div>

    <div class="container">
      <%= yield %>

      <div class="blog-footer">
        <p>
          &copy; 2014 Daniel Fone
          -
          Powered by
          <%= link_to 'Middleman', 'http://middlemanapp.com/' %>
          and
          <%= link_to 'GitHub Pages', 'http://pages.github.com/' %>
        </p>
        <p>
          <a href="#">Back to top</a>
        </p>
      </div>

    </div>

  </body>
</html>
